/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background: linear-gradient(to right, cyan, green);
}
.mat-checkbox-frame .mat-checkbox-background .mat-checkbox-checked .mat-checkbox-inner-container .mat-checkbox-frame .mat-checkbox-icon {
    color: green;
}